.App {
    text-align: center;
  }

  .login-layout{
    background: url("./assets/green.jpg")  no-repeat !important;
    background-size:100% 100% !important; 
    background-attachment:fixed !important;
  }
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  .ant-pro-sider-menu-logo {
    position: relative;
    height: 64px;
    padding-left: 24px;
    overflow: hidden;
    line-height: 64px;
    background: #001529;
    cursor: pointer;
    transition: all .3s;
  }
  
    .ant-pro-sider-menu-logo h1 {
        display: inline-block;
        margin: 0 0 0 12px;
        color: #fff;
        font-weight: 600;
        font-size: 20px;
        vertical-align: middle;
    }
  
  @keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
  
    to {
        transform: rotate(360deg);
    }
  }
  
  .breadcrumb {
    padding-top: 3px;
  }
  
  .content-header h3 {
    margin-bottom: 0;
  }
  
  .ant-layout-content .ant-row .ant-col {
    padding: 12px;
  }
  .ant-row{
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 0 !important;
  }
  
  .ant-card-extra .ant-btn {
    margin-left: 8px;
  }
  .ant-btn-link {
    padding: 0 !important;
  }
  .title {
    margin-left: 0.5em;
    margin-top: 0;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 600;
    font-size: 24px;
  }
  
  .tableCard .ant-card-body {
    padding: 0px;
  }
  
  .ant-pagination {
    padding: 0 24px !important;
  }
  
  .skin {
    width: 120px;
    padding: 2px;
    position: absolute;
    z-index: 9999;
  }
  
  .dropdown-menu {
    box-shadow: none;
    border-color: #eee;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-top-color: rgba(0, 0, 0, 0.15);
    border-right-color: rgba(0, 0, 0, 0.15);
    border-bottom-color: rgba(0, 0, 0, 0.15);
    border-left-color: rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
  }
  
    .dropdown-menu li {
        font-size: 14px;
        text-align: left;
        list-style: none;
    }
  
    .dropdown-menu > li {
        color: #777;
    }
  
    .dropdown-menu > li {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: 400;
        line-height: 1.42857143;
        color: #333;
        white-space: nowrap;
        cursor: pointer
    }
  
        .dropdown-menu > li:hover {
            background-color: rgb(225,227,233);
            color: rgb(20,20,20);
        }
  
  .ant-card {
    margin-bottom: 24px;
  }
  
  .ant-menu-item-active {
    background-color: #e6f7ff;
    color: #222
  }
  
  .ant-form-vertical .ant-form-item {
    margin-bottom: 0px !important;
  }
  
  .ant-upload-list{
    display:none;
  }
  
  .dragEnter{
    cursor: pointer;
  }
  .dragEnter.dragInner{
    border: 2px solid white;
  }
  .dragEnter.dragTop{
    border-top: 2px solid white;
  }
  .dragEnter.dragBottom{
    border-bottom: 2px solid white;
  }
  .ant-btn-icon-only{
    border: none;
    margin-left: 0px !important;
  }
  .ant-drawer-body {
    padding: 3px !important;
  }
  .ant-btn-dashed.ant-btn-circle{
    border: 0;
  }
  
  .dragEnterList{
    cursor: pointer;
  }
  .dragEnterList.dragInner{
    border: 4px black dashed !important;
  }
  .dragEnterList.dragTop{
    border-top:  4px black dashed !important;
  }
  .dragEnterList.dragBottom{
    border-bottom: 4px black dashed !important;
  }
  .ant-card-bordered{
    border: 5px solid #f0f0f0 !important;
  }